# config/routes.yaml
index:
    path: /
    controller: App\Controller\DefaultController::index

app_calculator_add:
    path: /add/{a}/{b}
    controller: App\Controller\CalculatorController::add
    methods: ['GET']
    
app_calculator_subtract:
    path: /subtract/{a}/{b}
    controller: App\Controller\CalculatorController::subtract
    methods: ['GET']
    
app_calculator_multiply:
    path: /multiply/{a}/{b}
    controller: App\Controller\CalculatorController::multiply
    methods: ['GET']
    
app_calculator_divide:
    path: /divide/{a}/{b}
    controller: App\Controller\CalculatorController::divide
    methods: ['GET']
    
app_calculator_exponent:
    path: /exponent/{a}/{b}
    controller: App\Controller\CalculatorController::exponent
    methods: ['GET']
    
app_calculator_percentage:
    path: /percentage/{a}/{b}
    controller: App\Controller\CalculatorController::percentage
    methods: ['GET']
